.MoveItem {}

.MoveItem {
	width: 32%;
	margin: 8px 0;
}

@media (max-width: 740px) {
	.MoveItem {
		width: 49%;
	}
}

@media (max-width: 450px) {
	.MoveItem {
		width: 100%;
	}
}

.MoveItem__img {
	width: 100%;
	height: 120px;
	overflow: hidden;
	object-fit: cover;
}

@media (max-width: 450px) {
	.MoveItem__img {
		height: 150px;
	}
}