.CommentPage {}
.CommentPage {}
.CommentPage {}

.CommentPage__img {
	width: 80%;
}

@media (max-width: 767px) {
	.CommentPage__img {
		width: 100%;
	}
}

.CommentPage__img img {
	width: 100%;
	object-fit: cover;
}

.CommentPage__add, .CommentPage__delete {
	cursor: pointer;
	background: #5E5373;
	display: inline-block;
	padding: 4px 12px;
	border-radius: 5px;
	color: white;
}

.CommentPage__panale {
	margin: 10px 0;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 767px) {
	.CommentPage__panale {
		width: 100%;
	}
}

.CommentPage__comment {
	margin: 10px 0;
	width: 80%;
}

@media (max-width: 767px) {
	.CommentPage__comment {
		width: 100%;
	}
}

.CommentPage__not-comment {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.CommentPage_a {
	opacity: 0.5;
	color: red;
	transition: 0.4s;
}

.CommentPage_a:hover {
	opacity: 1;
}

.CommentPage__write-comment, .CommentPage__formain{
	background:#5E5373;
	color: white;
	border: solid #368BD3 1px;
	width: 80%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.CommentPage__formain {
	display: none;
}

@media (max-width: 767px) {
	.CommentPage__write-comment {
		width: 100%;
	}

	.CommentPage__formain {
		width: 100%;
		display: flex;
		margin: 10px 0;
	}
}

.CommentPage__content {
	display: flex;
    flex-direction: column-reverse;
    width: 80%;
}

@media (max-width: 767px) {
	.CommentPage__content {
		width: 100%;
	}
}

.CommentPage__content div {
	display: flex;
	flex-direction: column;

}


.CommentPage__content div.right {
	align-items: flex-end;
}