.Delete {}

.Delete {
	display: none;
}

.Delete.active {
	color: black;
	display: block;
	position: fixed;
	background: grey;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	z-index: 50;
}

.Delete__wrape {
	position: relative;
	background: white;
	width: 80vh;
	padding: 20px 30px;
	margin: 0 20px;
	border-radius: 5px;
}

@media (max-width: 540px) {
	.CommentForm__wrape {
		padding: 10px 20px;
		width: 90%;
	}
}

.Delete__wrape h3 {
	font-size: 20px;
}

.Delete__img {
	position: absolute;
	top: 0;
	z-index: 50;
	display: inline-block;
	cursor: pointer;
}

.Delete__img.left {
	left: 0;
}

.Delete__img.right {
	right: 0;
}

.Delete__btn {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Delete__btn button {
	cursor: pointer;
	padding: 8px 20px;
	border-radius: 4px;
	color: white;
	opacity: 0.8;
}

.Delete__btn button.delet {
	background: #FF6600;
}

.Delete__btn button.delet:hover {
	opacity: 1;
}

.Delete__btn button.consel {
	background: #5E5373;
}

.Delete__btn button.consel:hover {
	opacity: 1;
}